[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Seungchul-Han
[access "refs/for/refs/*"]
	read = group user/Seungchul-Han
	push = group user/Seungchul-Han
	label-Code-Review = -2..+2 group user/Seungchul-Han
	label-Verified = -1..+1 group user/Seungchul-Han
	rebase = group user/Seungchul-Han
	removeReviewer = group user/Seungchul-Han
	submit = group user/Seungchul-Han
[access "refs/heads/*"]
	read = group user/Seungchul-Han
	create = group user/Seungchul-Han
	push = +force group user/Seungchul-Han
	pushMerge = group user/Seungchul-Han
[access "refs/tags/*"]
	push = +force group user/Seungchul-Han
	pushTag = group user/Seungchul-Han
	pushSignedTag = group user/Seungchul-Han
